CronoTermostato.json
[{"id":"797c1ab8f59de950","type":"tab","label":"Cronotermostato New","disabled":false,"info":""},{"id":"36d9f01b580873b0","type":"ui_template","z":"797c1ab8f59de950","group":"601993d289b1de60","name":"css etc","order":2,"width":0,"height":0,"format":"<style>\n\n.filled { height: 48px !important;padding: 0 !important; margin: 0 !important;}\n.nr-dashboard-template { padding: 0; margin: 0; background-color:black}\n.rounded { border-radius: 12px 12px 12px 12px;}\n.bigfont { font-size: 18px;}\n.smallfont { font-size: 12px;}\n.thedays { cursor:pointer; vertical-align:bottom; height:48px; }\n.the2px  { background-color: #9E9E9E; height:2px; }\n.theblocks {width:100%; height:0%; background-color:#4CAF50; }\n.greybuttons { background-color:#cecac536 !important; width:48px; border: none;}\n.thetemps { cursor:pointer; font-size:70%; color:#9E9E9E !important; }\n.smallheadings { color:blue; font-size:100%; }\n\n</style>\n\n<script>\nvar current=1;\n\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),50);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":400,"y":60,"wires":[[]]},{"id":"0524b5bb03a50ed1","type":"ui_template","z":"797c1ab8f59de950","group":"601993d289b1de60","name":"Settings page","order":1,"width":0,"height":0,"format":"<script>\nvar thedays=[\"DOMENICA\",\"LUNEDI\",\"MARTEDI\",\"MERCOLEDI\",\"GIOVEDI\",\"VENERDI\",\"SABATO\"];\nvar ID = \"AA\";\n\nvar last=29;\n\nfunction bar(mm,val)\n{\nif (val==14) { $(mm).height(\"12%\"); $(mm).css('background-color', '#1E88E5'); } //blue\nif (val==15) { $(mm).height(\"16%\"); $(mm).css('background-color', '#039BE5'); }\nif (val==16) { $(mm).height(\"20%\"); $(mm).css('background-color', '#00ACC1'); } \nif (val==17) { $(mm).height(\"24%\"); $(mm).css('background-color', '#039BE5'); } // cyan\nif (val==18) { $(mm).height(\"28%\"); $(mm).css('background-color', '#00ACC1'); }\nif (val==19) { $(mm).height(\"32%\"); $(mm).css('background-color', '#00897B'); } \nif (val==20) { $(mm).height(\"36%\"); $(mm).css('background-color', '#388E3C'); } // green\nif (val==21) { $(mm).height(\"40%\"); $(mm).css('background-color', '#689F38'); }\nif (val==22) { $(mm).height(\"44%\"); $(mm).css('background-color', '#C0CA33'); }\nif (val==23) { $(mm).height(\"48%\"); $(mm).css('background-color', '#FDD835'); } // yellow\nif (val==24) { $(mm).height(\"52%\"); $(mm).css('background-color', '#FBC02D'); }\nif (val==25) { $(mm).height(\"56%\"); $(mm).css('background-color', '#FFA000'); }\nif (val==26) { $(mm).height(\"60%\"); $(mm).css('background-color', '#E64A19'); } // red\n    \n}\n\nfunction stat(text)\n{\n$(\"#info\"+ID).text(text);\nvar tm=setTimeout(function(){ $(\"#info\"+ID).text(\"Ok\"); clearTimeout(tm);}, 5000); //Tempo permanenza selezione\n}\n\nfunction selec(val,sta)\n{\nvar w=\"#td\"+val+ID;\n if (sta) $(w).css('background-color','#4CAF50'); else $(w).css('background-color','#FFC107');\n}\n\n    (function(scope){\n        scope.ID = ID;\n        scope.send({payload: '29'})\n        scope.$watch('msg', function(msg) {\n            selec(last,0); last=msg.selector; selec(last,1);\n            for (var x=0; x<24; x++) \n                { \n                    var w=\"#t\"+x+ID; bar(w,msg.timing[((msg.days-1)*24)+x]); \n                    var v=\"#v\"+x+ID; $(v).text(msg.timing[((msg.days-1)*24)+x]+\"°\")\n                } \n            for (var x=0; x<2; x++) { var w=\"#s\"+x+ID; $(w).text(msg.timing[168+x]); }\n             $(\"#d0\"+ID).text(thedays[msg.days-1]);\n             if ((last>4) &&(last<29))\n                 $(\"#current\"+ID).text(msg.timing[((msg.days-1)*24)+last-5] + \"°\");\n             else\n                 $(\"#current\"+ID).text(\"-\");\n                 \n            if (msg.foryou!=\"\") { stat(msg.foryou);  }\n            \n             \n        });\n \n    })(scope);\n      \n\n</script>\n<table width=\"100%\">\n    \n    <tr>\n        <td colspan=24><center><span class=\"smallheadings\" style=\"color:red\" >Giorno</span></center></td>\n     <!--   <td colspan=3><center><span class=\"smallheadings\">Clima AUTO</span></center></td>\n        <td colspan=3><center><span class=\"smallheadings\">Fuori casa</span></center></td> -->\n    </tr>\n   \n    <tr>\n        <td ng-click=\"send({payload: '29'})\" colspan=24><center><span id=\"{{ 'd0' + ID }}\" style=\"cursor:pointer;color:red;font-size:120%\">LUNEDI</span></center></td>\n     <!--   <td ng-click=\"send({payload: '1'})\" colspan=3><center><span id=\"s0\" style=\"color:blue;font-size:120%\">14</span></center></td>\n        <td ng-click=\"send({payload: '2'})\" colspan=3><center><span id=\"s1\" style=\"color:blue;font-size:120%\">20</span></center></td> -->\n    </tr>\n    \n    <tr style=\"height:2px\">\n        <td id=\"{{ 'td29' + ID }}\" colspan=24 style=\"background-color:#9E9E9E;height:2px;\"></td> \n     <!--   <td id=\"td1\" colspan=3 style=\"background-color:#9E9E9E;height:2px;\"></td>\n        <td id=\"td2\" colspan=3 style=\"background-color:#9E9E9E;height:2px;\"></td> -->\n    </tr>  \n\n    <tr>\n        <td ng-click=\"send({payload: '5'})\" class=\"thedays\"><span id=\"{{ 'v0' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't0' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '6'})\" class=\"thedays\"><span id=\"{{ 'v1' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't1' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '7'})\" class=\"thedays\"><span id=\"{{ 'v2' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't2' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '8'})\" class=\"thedays\"><span id=\"{{ 'v3' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't3' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '9'})\" class=\"thedays\"><span id=\"{{ 'v4' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't4' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '10'})\" class=\"thedays\"><span id=\"{{ 'v5' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't5' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '11'})\" class=\"thedays\"><span id=\"{{ 'v6' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't6' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '12'})\" class=\"thedays\"><span id=\"{{ 'v7' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't7' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '13'})\" class=\"thedays\"><span id=\"{{ 'v8' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't8' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '14'})\" class=\"thedays\"><span id=\"{{ 'v9' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't9' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '15'})\" class=\"thedays\"><span id=\"{{ 'v10' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't10' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '16'})\" class=\"thedays\"><span id=\"{{ 'v11' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't11' + ID }}\" class=\"theblocks\"></div></td>\n    </tr>  \n    \n    <tr style=\"height:2px\">\n        <td id=\"{{ 'td5' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td6' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td7' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td8' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td9' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td10' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td11' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td12' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td13' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td14' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td15' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td16' + ID }}\" class=\"the2px\"></td>\n    </tr>   \n    \n    <tr>\n        <td align=\"center\">0</td>\n        <td align=\"center\">1</td>\n        <td align=\"center\">2</td>\n        <td align=\"center\">3</td>\n        <td align=\"center\">4</td>\n        <td align=\"center\">5</td>\n        <td align=\"center\">6</td>\n        <td align=\"center\">7</td>\n        <td align=\"center\">8</td>\n        <td align=\"center\">9</td>\n        <td align=\"center\">10</td>\n        <td align=\"center\">11</td>\n    </tr> \n    \n    <tr>\n        <td ng-click=\"send({payload: '17'})\" class=\"thedays\"><span id=\"{{ 'v12' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't12' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '18'})\" class=\"thedays\"><span id=\"{{ 'v13' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't13' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '19'})\" class=\"thedays\"><span id=\"{{ 'v14' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't14' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '20'})\" class=\"thedays\"><span id=\"{{ 'v15' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't15' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '21'})\" class=\"thedays\"><span id=\"{{ 'v16' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't16' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '22'})\" class=\"thedays\"><span id=\"{{ 'v17' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't17' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '23'})\" class=\"thedays\"><span id=\"{{ 'v18' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't18' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '24'})\" class=\"thedays\"><span id=\"{{ 'v19' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't19' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '25'})\" class=\"thedays\"><span id=\"{{ 'v20' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't20' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '26'})\" class=\"thedays\"><span id=\"{{ 'v21' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't21' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '27'})\" class=\"thedays\"><span id=\"{{ 'v22' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't22' + ID }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '28'})\" class=\"thedays\"><span id=\"{{ 'v23' + ID }}\" class=\"thetemps\"></span><div id=\"{{ 't23' + ID }}\" class=\"theblocks\"></div></td>\n    </tr>  \n    \n    <tr style=\"height:2px\">\n        <td id=\"{{ 'td17' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td18' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td19' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td20' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td21' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td22' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td23' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td24' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td25' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td26' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td27' + ID }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td28' + ID }}\" class=\"the2px\"></td>\n    </tr>  \n    \n    <tr>\n        <td align=\"center\">12</td>\n        <td align=\"center\">13</td>\n        <td align=\"center\">14</td>\n        <td align=\"center\">15</td>\n        <td align=\"center\">16</td>\n        <td align=\"center\">17</td>\n        <td align=\"center\">18</td>\n        <td align=\"center\">19</td>\n        <td align=\"center\">20</td>\n        <td align=\"center\">21</td>\n        <td align=\"center\">22</td>\n        <td align=\"center\">23</td>\n    </tr> \n    \n    <tr height=\"20px\">\n        <td colspan=2 class=\"smallheadings\" style=\"color:red\">Azioni:</td>\n\n        <td colspan=10 ><center><span id=\"{{ 'info' + ID }}\" class=\"smallheadings\" style=\"color:red\" ></span></center></td>\n\n    </tr>\n    \n    <tr height=\"10px\">\n        <td colspan=\"12\"></td>\n    </tr>\n\n    <tr style=\"height:48px\">\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'd'})\"> \n               <ng-md-icon style=\"color: #fff;\" icon=\"keyboard_arrow_down\">\n                    <md-tooltip md-direction=\"bottom\">DECREMENTA</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n        \n        <td colspan=2><center><span id=\"{{ 'current' + ID }}\" style=\"color:red;font-size:120%\">-</span></center></td>\n\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\"> \n               <ng-md-icon style=\"color: #fff;\" icon=\"keyboard_arrow_up\">\n                    <md-tooltip md-direction=\"bottom\">INCREMENTA</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'r'})\"> \n               <ng-md-icon style=\"color: #fff;\" icon=\"content_copy\">\n                    <md-tooltip md-direction=\"bottom\">COPIA</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n\n\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 's'})\"> \n                 <ng-md-icon style=\"color: #fff;\" icon=\"save\">\n                    <md-tooltip md-direction=\"bottom\">SALVA</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n\n        <td colspan=2>\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\"  ng-click=\"send({payload: 'c'})\"> \n                 <ng-md-icon style=\"color: #fff;\" icon=\"cancel\">\n                    <md-tooltip md-direction=\"bottom\">ANNULLA</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n        <td colspan=1></td>\n    </tr>\n\n</table>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":480,"y":140,"wires":[["eea84621da24bc47"]]},{"id":"eea84621da24bc47","type":"function","z":"797c1ab8f59de950","name":"Process controls","func":"if ( typeof context.days == 'undefined' ) context.days=1;\nif ( typeof context.selector == 'undefined' ) context.selector=29;\nif ( typeof context.saving == 'undefined' ) context.saving=1;\nlet timing = global.get(\"timing\");\nif ( !timing || !Array.isArray(timing) ) \n    {\n        timing=[\n                14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                6,14\n                ];\n        context.saving=1;                    \n        global.set(\"timing\",timing);\n    }\n\nswitch (msg.payload)\n    {\n    case \"u\" :  if ((context.selector>1)&&(context.selector<29))\n                {\n                   timing[((context.days-1)*24)+(context.selector-5)]++; \n                    if (timing[((context.days-1)*24)+context.selector-5]>26){ timing[((context.days-1)*24)+context.selector-5]=26; msg.foryou=\"Limite raggiunto\";}\n                    else msg.foryou=\"Temperatura aumentata\";\n                }\n                if (context.selector==1) { if (timing[168+(context.selector-1)]<26) {  timing[168+(context.selector-1)]++; msg.foryou=\"Temperatura clima aumentata di 1°C\"; } else msg.foryou=\"Limite raggiunto\"; }\n                if (context.selector==2) { if (timing[169+(context.selector-1)]<26) {  timing[169+(context.selector-1)]++; msg.foryou=\"Temperatura fuori casa aumentata di 1°C\"; } else msg.foryou=\"Limite raggiunto\"; }\n                if (context.selector==29) { msg.foryou=\"Giorno successivo\"; context.days++; if (context.days>7) { context.days = 1; } }\n                break;\n    case \"d\" :  if ((context.selector>1)&&(context.selector<29))\n                {\n                    timing[((context.days-1)*24)+context.selector-5]--; \n                    if (timing[((context.days-1)*24)+context.selector-5]<14){ timing[((context.days-1)*24)+context.selector-5]=14; msg.foryou=\"Limite raggiunto\";}\n                    else msg.foryou=\"Temperatura decrementata\";\n                }\n                if (context.selector==1) { if (timing[168+(context.selector-1)]>12) { timing[168+(context.selector-1)]--; msg.foryou=\"Temperatura clima diminuita di 1°C\"; } else msg.foryou=\"Limite raggiunto\"; }\n                if (context.selector==2) { if (timing[169+(context.selector-1)]>12) { timing[169+(context.selector-1)]--; msg.foryou=\"Temperatura fuori casa diminuita di 1°C\"; } else msg.foryou=\"Limite raggiunto\"; }\n                if (context.selector==29) {  msg.foryou=\"Giorno precedente\";  context.days--; if (context.days < 1) { context.days = 7;  } }\n                break;\n    case 'r' :  if ((context.selector>=5)&&(context.selector<28))\n                        {\n                         timing[((context.days-1)*24)+context.selector-4]=timing[((context.days-1)*24)+context.selector-5];   \n                         context.selector++;\n                         msg.foryou=\"Temperatura copiata nello slot successivo\";\n                        }\n                if ((context.selector==29)&&(context.days<7))\n                        {\n                         for (var a=0;a<24;a++)\n                            {\n                             timing[((context.days)*24)+a]=timing[((context.days-1)*24)+a];   \n                            }\n                         context.days++;\n                         msg.foryou=\"Impostazioni copiate nel giorno successivo\";\n                        }\n                        else if(context.days==7)\n                            msg.foryou=\"Fine della settimana raggiunto!\";\n                break;\n    case 's': context.saving=0;  msg.foryou=\"Impostazioni salvate\"; break;\n    case '1':\n    case '2':\n    case '3':\n    case '4':\n    case '5':\n    case '6':\n    case '7':\n    case '8':\n    case '9':\n    case '10':\n    case '11':\n    case '12':\n    case '13':\n    case '14':\n    case '15':\n    case '16':\n    case '17':\n    case '18':\n    case '19':\n    case '20':\n    case '21':\n    case '22':\n    case '23':\n    case '24':\n    case '25':\n    case '26':\n    case '27':\n    case '28':\n    case '29': context.selector=parseInt(msg.payload);\n               if (msg.payload=='1') msg.foryou=\"Temperatura clima selezionata\"; \n               else if (msg.payload=='2') msg.foryou=\"Temperatura fuori casa selezionata\";\n               else if (msg.payload=='29') msg.foryou=\"Giorno selezionato\";\n               else  msg.foryou=\"Regolazione temperatura ore: \" + (parseInt(msg.payload)-5);\n    break;\n    case 'c' : msg.payload=\"niente\";  msg.foryou=\"Cambiamenti annullati\"; node.send([null,null,msg]);\n    }\n\nmsg.temperatures=context.temperatures;\nmsg.timing=timing;\nmsg.days=context.days;\nmsg.selector=context.selector;\n\nnode.send([msg,null,null]);\n\nif (context.saving===0) \n    { \n       msg.topic=\"\";\n        msg.timing=\"\";\n        msg.payload=JSON.stringify(timing);\n        node.send([null,msg,null]); \n        context.saving=1;\n    }\n    msg.foryou=\"\"","outputs":"3","noerr":0,"initialize":"","finalize":"","libs":[],"x":703,"y":192,"wires":[["c62584344beedb79"],["fc9c3537e962225f"],["acbca8944b6e65d7"]]},{"id":"7338b30514606b09","type":"inject","z":"797c1ab8f59de950","name":"Once only","props":[{"p":"payload","v":"","vt":"str"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":true,"topic":"","payload":"","payloadType":"str","x":464.44449615478516,"y":226.66668128967285,"wires":[["eea84621da24bc47","838ae97e5275745f"]]},{"id":"fc9c3537e962225f","type":"file","z":"797c1ab8f59de950","name":"backup","filename":"/etc/openhab/nodered/data/scheduler.log","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":892,"y":191,"wires":[[]]},{"id":"838ae97e5275745f","type":"file in","z":"797c1ab8f59de950","name":"Restore","filename":"/etc/openhab/nodered/data/scheduler.log","filenameType":"str","format":"utf8","sendError":true,"encoding":"none","allProps":false,"x":700,"y":280,"wires":[["38c8eec1b4c6f79d"]]},{"id":"38c8eec1b4c6f79d","type":"function","z":"797c1ab8f59de950","name":"Restore data from SD","func":"context.global.timing=JSON.parse(msg.payload);\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":280,"wires":[["84fd75c9bac70a02"]]},{"id":"05cc7a012c1098af","type":"link in","z":"797c1ab8f59de950","name":"restore","links":["acbca8944b6e65d7"],"x":535,"y":300,"wires":[["838ae97e5275745f"]]},{"id":"acbca8944b6e65d7","type":"link out","z":"797c1ab8f59de950","name":"restore","links":["05cc7a012c1098af"],"x":854.5,"y":228,"wires":[]},{"id":"f95517a76f48b04e","type":"link in","z":"797c1ab8f59de950","name":"restoreSD","links":["84fd75c9bac70a02"],"x":541,"y":192,"wires":[["eea84621da24bc47"]]},{"id":"84fd75c9bac70a02","type":"link out","z":"797c1ab8f59de950","name":"restoreSD","links":["f95517a76f48b04e"],"x":1045,"y":280,"wires":[]},{"id":"c62584344beedb79","type":"link out","z":"797c1ab8f59de950","name":"setSettings","links":["187d6e6873b932a3"],"x":855.5,"y":152,"wires":[]},{"id":"187d6e6873b932a3","type":"link in","z":"797c1ab8f59de950","name":"setSettings","links":["c62584344beedb79"],"x":347.5,"y":140,"wires":[["0524b5bb03a50ed1"]]},{"id":"15f74d7772f29ce4","type":"comment","z":"797c1ab8f59de950","name":"EDIT","info":"https://flows.nodered.org/flow/65f411e9e37745a4bbeef5926d052c97\n\nSettings page:\n-thedays2\n-ID2\n-last2\n-bar2\n-stat2\n-selec2\n\nProcess controls\n-days2\n-selector2\n-saving2\n-timing2\n-temperatures2\n\nRestore data from SD\n-timing2\n\nProcess heat\n-timing2\n\nBackup/Restore File read\nchange name of the file .log","x":150,"y":40,"wires":[]},{"id":"f41b2485b45739dd","type":"ui_gauge","z":"797c1ab8f59de950","name":"Gauge","group":"601993d289b1de60","order":6,"width":"6","height":"3","gtype":"gage","title":"Corridoio","label":"°C","format":"{{msg.payload.current | number:1}} °C","min":"15","max":"30","colors":["#162ee3","#01ef50","#ca3838"],"seg1":"18","seg2":"25","className":"","x":1050,"y":540,"wires":[]},{"id":"df2e4c078e2b8860","type":"ui_text","z":"797c1ab8f59de950","group":"601993d289b1de60","order":4,"width":2,"height":1,"name":"Stato:","label":"","format":"{{msg.payload.onoff}}","layout":"row-center","className":"","x":1050,"y":660,"wires":[]},{"id":"2a15bc2e698c853f","type":"ui_chart","z":"797c1ab8f59de950","name":"Chart","group":"601993d289b1de60","order":7,"width":6,"height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1050,"y":580,"wires":[[]]},{"id":"d7205277f89faaa5","type":"function","z":"797c1ab8f59de950","name":"","func":"let riscaldamentoModo=global.get(\"riscaldamentoModo\");\nlet statoCaldaia=global.get(\"statoCaldaia\");\nlet setPointManuale=global.get(\"setPointManuale\");\nvar riscaldamento;\n\nswitch (riscaldamentoModo) {\n    case \"1\":\n        riscaldamento = \"Automatico\";\n        node.status({ fill: \"green\", shape: \"dot\", text: \"In \" + riscaldamento  });\n        break;\n    case \"2\":\n        riscaldamento = \"Disattivo\";\n        node.status({ fill: \"red\", shape: \"dot\", text: \"In \" + riscaldamento  });\n        break;\n    case \"3\":\n        riscaldamento = \"Manuale\";\n        node.status({ fill: \"red\", shape: \"dot\", text: \"In \" + riscaldamento  });\n        break;\n}\n\nif ((msg.payload.onoff === true) && (riscaldamentoModo != 2) && (statoCaldaia===\"OFF\")) { \n    msg.payload=\"ON\";\n    //flow.set(\"statoCaldaia\", 1);\n    }\nelse if ((msg.payload.onoff === false) && (statoCaldaia==\"ON\")) {\n    msg.payload=\"OFF\";\n    //flow.set(\"statoCaldaia\", 0);\n    }\nelse {\nreturn null;\n};\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":440,"wires":[["b3290766774cc9df","8f8c7c01ee332686"]]},{"id":"7e7d2fd1f829e36a","type":"ui_text","z":"797c1ab8f59de950","group":"601993d289b1de60","order":5,"width":2,"height":1,"name":"SetPoint:","label":"","format":"{{msg.payload.target | number:1}} °C","layout":"row-right","className":"","x":1060,"y":620,"wires":[]},{"id":"ac5097ef55cd6009","type":"inject","z":"797c1ab8f59de950","name":"","repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"Started!","payloadType":"str","x":120,"y":600,"wires":[["719ff8c63fd154ae"]]},{"id":"719ff8c63fd154ae","type":"function","z":"797c1ab8f59de950","name":"General var","func":"var riscaldamentoModo=flow.get('riscaldamentoModo');\nvar setPointManuale=flow.get('setPointManuale');\nflow.set(\"riscaldamentoModo\", 1);\nflow.set(\"setPointManuale\", 20);\nflow.set(\"statorele\", 0);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":600,"wires":[[]]},{"id":"7a4b77032d7c22ad","type":"ui_text","z":"797c1ab8f59de950","group":"601993d289b1de60","order":3,"width":2,"height":1,"name":"Modo:","label":"","format":"{{msg.payload.modo}}","layout":"row-left","className":"","x":1050,"y":700,"wires":[]},{"id":"b3290766774cc9df","type":"openhab2-out2","z":"797c1ab8f59de950","name":"","controller":"eb6d7470c0839f99","itemname":"FGS221_002_SwitchBinary2","topic":"ItemCommand","payload":"","onlywhenchanged":false,"x":1180,"y":440,"wires":[[]]},{"id":"f8341463edd4e198","type":"comment","z":"797c1ab8f59de950","name":"Relè caldaia","info":"","x":1290,"y":440,"wires":[]},{"id":"ed95b3f8540ea9c3","type":"dynamic thermostat","z":"797c1ab8f59de950","name":"","x":610,"y":460,"wires":[["d7205277f89faaa5","d837578c89526089","868f8568e9cf39bc"]]},{"id":"8a9909970bc8a936","type":"function","z":"797c1ab8f59de950","name":"","func":"var msg1 = {}; //switch \nvar msg2 = {}; //target temperature\nvar msg3 = {}; //current temperature\nvar msg4 = {}; //hysteresis\nvar now = new Date(msg.time);\nvar setPointAuto\n\nlet riscaldamentoModo = global.get(\"riscaldamentoModo\");\nlet setPointManuale = global.get(\"setPointManuale\");\nlet tempCurrent = global.get(\"tempCurrent\");\nlet timing = global.get(\"timing\");\n\n\n//Lettura setpoint in base alla data/ora\nsetPointAuto = timing[(now.getDay() * 24) + now.getHours() - 1];\nglobal.set(\"setPointAuto\", setPointAuto);\nmsg.frost = timing[168];\nmsg.away = timing[169];\n\n// Payload per il termostato\nif (riscaldamentoModo == 1) {   //auto\n    msg1.topic = \"switch\"\n    msg1.payload = \"auto\"\n    msg2.topic = \"target\"\n    msg2.payload = setPointAuto\n    msg3.topic = \"current\"\n    msg3.payload = tempCurrent\n    msg4.topic = \"hysteresis\"\n    msg4.payload = 0.2\n}\nelse if (riscaldamentoModo == 2) { //Disattivo\n    msg1.topic = \"switch\"\n    msg1.payload = false\n    msg2.topic = \"target\"\n    msg2.payload = setPointAuto\n    msg3.topic = \"current\"\n    msg3.payload = tempCurrent\n    msg4.topic = \"hysteresis\"\n    msg4.payload = 0.2\n}\nelse if (riscaldamentoModo == 3) { //Manuale\n    msg1.topic = \"switch\"\n    msg1.payload = \"auto\"\n    msg2.topic = \"target\"\n    msg2.payload = setPointManuale\n    msg3.topic = \"current\"\n    msg3.payload = tempCurrent\n    msg4.topic = \"hysteresis\"\n    msg4.payload = 0.2\n}\nnode.status({ fill: \"green\", shape: \"dot\", text: riscaldamentoModo + \" SPA:\" + setPointAuto + \" SPM:\" + setPointManuale });\nreturn [[msg1, msg2, msg3, msg4]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":480,"wires":[["ed95b3f8540ea9c3","8e6fd94a96a6fe65"]]},{"id":"8e6fd94a96a6fe65","type":"debug","z":"797c1ab8f59de950","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":380,"wires":[]},{"id":"8f8c7c01ee332686","type":"debug","z":"797c1ab8f59de950","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1100,"y":380,"wires":[]},{"id":"8d22819ea32a5275","type":"inject","z":"797c1ab8f59de950","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":480,"wires":[["c9fcdb4cf376c94b"]]},{"id":"c9fcdb4cf376c94b","type":"moment","z":"797c1ab8f59de950","name":"time","topic":"","input":"","inputType":"date","inTz":"Europe/Rome","adjAmount":"1","adjType":"hours","adjDir":"add","format":"","locale":"it_IT","output":"time","outputType":"msg","outTz":"Europe/Rome","x":290,"y":480,"wires":[["8a9909970bc8a936"]]},{"id":"d837578c89526089","type":"function","z":"797c1ab8f59de950","name":"function 1","func":"let riscaldamentoModo = global.get(\"riscaldamentoModo\");\nmsg.payload.modo = \"\";\n\nswitch (riscaldamentoModo) {\n    case \"1\":\n        msg.payload.modo = \"Auto\";\n        break;\n    case \"2\":\n        msg.payload.modo = \"Disattivo\";\n        break;\n    case \"3\":\n        msg.payload.modo = \"Manu\";\n        break;\n}\n\nswitch (msg.payload.onoff) {\n    case true:\n        msg.payload.onoff = \"CALDAIA ACCESA\";\n        break;\n    case false:\n        msg.payload.onoff = \"CALDAIA SPENTA\";\n        break;\n}\n//switch (msg.payload.switch) {\n//    case false:\n//        msg.payload.switch = \"SPENTO\"\n//        break;\n//    case true:\n//        msg.payload.switch = \"MANU\"\n//        break;\n//    case \"auto\":\n//        msg.payload.switch = \"AUTO\"\n//        break;\n//}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":580,"wires":[["c1a4201f422a36a0","f41b2485b45739dd","2a15bc2e698c853f","7e7d2fd1f829e36a","df2e4c078e2b8860","7a4b77032d7c22ad"]]},{"id":"c1a4201f422a36a0","type":"debug","z":"797c1ab8f59de950","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":660,"wires":[]},{"id":"868f8568e9cf39bc","type":"debug","z":"797c1ab8f59de950","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":380,"wires":[]},{"id":"601993d289b1de60","type":"ui_group","name":"Default","tab":"d4495bdb.2d4448","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"eb6d7470c0839f99","type":"openhab2-controller2","name":"cm3home","protocol":"http","host":"localhost","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""},{"id":"d4495bdb.2d4448","type":"ui_tab","name":"Cronotermostato","icon":"spa","order":"1","disabled":false,"hidden":false}]
