CronoTermostatoVariabili.json
[{"id":"12045cd3287d8a9f","type":"tab","label":"Variabili globali","disabled":false,"info":"","env":[]},{"id":"383bc60af38b94d5","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"tempCurrent","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":180,"wires":[[]]},{"id":"a96b7091c9ed4570","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"statoCaldaia","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":300,"wires":[[]]},{"id":"cd6ef6a2bc9cf485","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"T_Studio","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":360,"wires":[[]]},{"id":"6a9a73b37e2a7509","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"L_Studio","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":420,"wires":[[]]},{"id":"64c3ae4a91d14ffb","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"T_Cameretta","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":480,"wires":[[]]},{"id":"63a3a2a63a30bcef","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"H_Cameretta","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":540,"wires":[[]]},{"id":"d642976ebc34d71a","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"P_Cameretta","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":600,"wires":[[]]},{"id":"edf729257aa5e021","type":"openhab2-in2","z":"12045cd3287d8a9f","name":"","controller":"eb6d7470c0839f99","itemname":"Aqara4T","topic":"","initialstate":true,"whenupdated":true,"whencommand":true,"whenchanged":true,"changedfrom":"","changedto":"","x":540,"y":180,"wires":[["383bc60af38b94d5"]]},{"id":"fdc27e0b8e9b95cb","type":"openhab2-in2","z":"12045cd3287d8a9f","name":"","controller":"eb6d7470c0839f99","itemname":"FGS221_002_SwitchBinary2","topic":"","initialstate":true,"whenupdated":true,"whencommand":true,"whenchanged":true,"changedfrom":"","changedto":"","x":580,"y":300,"wires":[["a96b7091c9ed4570"]]},{"id":"01269089f52c036a","type":"openhab2-in2","z":"12045cd3287d8a9f","name":"","controller":"eb6d7470c0839f99","itemname":"FGMS001_008_Temp","topic":"","initialstate":true,"whenupdated":true,"whencommand":true,"whenchanged":true,"changedfrom":"","changedto":"","x":560,"y":360,"wires":[["cd6ef6a2bc9cf485"]]},{"id":"e2a8bdadad965849","type":"openhab2-in2","z":"12045cd3287d8a9f","name":"","controller":"eb6d7470c0839f99","itemname":"FGMS001_008_Lum","topic":"","initialstate":true,"whenupdated":true,"whencommand":true,"whenchanged":true,"changedfrom":"","changedto":"","x":550,"y":420,"wires":[["6a9a73b37e2a7509"]]},{"id":"01086b43e3831dce","type":"openhab2-in2","z":"12045cd3287d8a9f","name":"","controller":"eb6d7470c0839f99","itemname":"Aqara1T","topic":"","initialstate":true,"whenupdated":true,"whencommand":true,"whenchanged":true,"changedfrom":"","changedto":"","x":520,"y":480,"wires":[["64c3ae4a91d14ffb"]]},{"id":"346b8bc66e3c1b09","type":"openhab2-in2","z":"12045cd3287d8a9f","name":"","controller":"eb6d7470c0839f99","itemname":"Aqara1H","topic":"","initialstate":true,"whenupdated":true,"whencommand":true,"whenchanged":true,"changedfrom":"","changedto":"","x":520,"y":540,"wires":[["63a3a2a63a30bcef"]]},{"id":"46a01dac31df96c7","type":"openhab2-in2","z":"12045cd3287d8a9f","name":"","controller":"eb6d7470c0839f99","itemname":"Aqara1P","topic":"","initialstate":true,"whenupdated":true,"whencommand":true,"whenchanged":true,"changedfrom":"","changedto":"","x":520,"y":600,"wires":[["d642976ebc34d71a"]]},{"id":"b3cc43ae733cfd63","type":"openhab2-in2","z":"12045cd3287d8a9f","name":"","controller":"eb6d7470c0839f99","itemname":"Riscaldamento_Man_SP","topic":".topic","initialstate":false,"whenupdated":false,"whencommand":true,"whenchanged":true,"changedfrom":"","changedto":"","x":570,"y":120,"wires":[["87b47c3dc55ba3f0","ee799043c34cd02a"]]},{"id":"87b47c3dc55ba3f0","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"setPointManuale","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":120,"wires":[[]]},{"id":"ee799043c34cd02a","type":"debug","z":"12045cd3287d8a9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":60,"wires":[]},{"id":"ca7cb4da8384c349","type":"openhab2-in2","z":"12045cd3287d8a9f","name":"","controller":"eb6d7470c0839f99","itemname":"Riscaldamento_Modo","topic":"","initialstate":true,"whenupdated":true,"whencommand":true,"whenchanged":true,"changedfrom":"","changedto":"","x":560,"y":660,"wires":[["1ad7f7454a79a4a7"]]},{"id":"1ad7f7454a79a4a7","type":"change","z":"12045cd3287d8a9f","name":"","rules":[{"t":"set","p":"riscaldamentoModo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":660,"wires":[[]]},{"id":"eb6d7470c0839f99","type":"openhab2-controller2","name":"cm3home","protocol":"http","host":"localhost","port":"8080","path":"","username":"","password":"","ohversion":"v3","token":""}]